<div class="form-submit">
    <h2 class="align-center">let us know you're coming</h2>
    <hr />
    <form action="/submit" method="POST">
    <div id="success-message">
        <span>Message Has Been Sent!</span>
    </div>
        <div class="field half first">
            <label>Name</label>
            <input id="name" type="text" placeholder="Name">
        </div>
        <div class="field half">
            <label>Email</label>
            <p id="email-message">Please check email format</p>
            <input id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
            <label>Message</label>
            <textarea id="message" rows="6" placeholder="Message"></textarea>
        </div>
        <ul class="actions align-center submit-button">
            <li><button id="submit" class="button special" type="submit">Submit</button></li>
        </ul>
    </form>
    <div class="copyright">
    &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>.
    Video <a href="http://coverr.co/">Coverr</a>.
</div>
</div>
