<h1 id="table-header">Directions</h1>
<p id="table-header">7567 W Questa Dr | Perioa, AZ 85383</p>
<hr>
<div class="notes text-center">
    <h3>Recomondations</h3>
    <p>Due to event being at private residence and safe driving, we recommend using Uber or Lyft for transportation</p>

</div>
<div id="map"></div>
