{{!-- my nav --}}
<div id="my-nav">
        <a class="button small" href="/contact" target="_blank">RSVP</a>
</div>

<!-- Header -->
<header id="header" class="alt">
    <div class="inner">
        <h1 id="title">Michael and Melissa's Wedding</h1>
        <p>Join us February 16, 2019 | Peoria, AZ</p>
    </div>
</header>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
        <span class="icon fa-diamond major"></span>
        <h2>join our celebration</h2>
        <p>February 16, 2019
            <br> Peroria, AZ
            <br> 4:00 PM MST
        </p>
        <ul class="actions">
            <li><a id="rsvp" href="/contact" class="button big">RSVP</a></li>
        </ul>
    </section>

    <!-- Items -->
    <section class="main items">
        <article class="item">
            <header>
                <a href="/photos"><img src="images/pic01.jpeg" alt="" /></a>
                <h3 class="section-header">Photos</h3>
            </header>
            <p>We would love if you could upload any photos you took of bride and groom or any family photos you would like to share</p>
            <ul class="actions">
                <li><a href="/photos" class="button">Upload</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="/menu"><img src="images/pic02.jpeg" alt="" /></a>
                <h3 class="section-header">Menu</h3>
            </header>
            <p>A full menu inluding dinner, desert, and signature cocktail will be available. <br>
            </p>
            <ul class="actions">
                <li><a href="/menu" class="button">More</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="/directions"><img src="images/pic03.jpeg" alt="" /></a>
                <h3 class="section-header">Location</h3>
            </header>
            
            
            <ul class="actions">
                <li><a href="/directions" class="button">Get Directions</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="/comments"><img src="images/pic04.jpeg" alt="" /></a>
                <h3 class="section-header">Comments</h3>
            </header>
            <p>Feel free to leave a note, share a story, or ask any questions. <br></p>
            <ul class="actions">
                <li><a href="/comments" class="button">More</a></li>
            </ul>
        </article>
    </section>

    <!-- CTA -->
    <section id="cta" class="main special">
        <h2>Wedding Registry</h2>
        <ul class="actions">
            <li>
                <a href="/registry" class="button big" target="_blank">Registry</a>
            </li>
        </ul>
    </section>

    <!-- Main -->

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
    </footer>

</div>

