<h1 id="table-header">RSVP's</h1>
<div class="table-wrapper">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            {{#each rsvp}}
            <tr>
                <td>{{name}}</td>
                <td><a href="mailto:{{email}}?subject=RE:RSVP">{{email}}</a></td>
                <td>{{message}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</div>