<div class="menu">
    <div class="menu-content">
        <div class="header">
            <h2>MENU</h2>
        </div>
        <div class="menu-image">
            <img src="assets/img/menu.jpg" alt="menu" class="img-fluid img-responsive">
        </div>
    </div>
</div>