<div class="registry">
    <div class="stores">
        <div class="store">
            <a class="button small" href="https://www.macys.com/wgl/registry/guest/6980690" target="_blank">Macys</a>
            <div class="store-img">
                <img src="assets/img/macyslogo.png" alt="macys registry">
            </div>
        </div>
        <div class="store">
            <a class="button small" href="https://www.target.com/gift-registry/giftgiver?registryId=08821f9be2544ae584bc7f6da6336580&type=WEDDING"
                target="_blank">Target</a>
            <div class="store-img">
                <img src="assets/img/targetlogo.png" alt="target registry">
            </div>
        </div>
        <div class="store">
            <a class="button small" href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.williams-sonoma.com%2Fregistry%2F6kmrj7gxzr%2Fregistry-list.html&amp;data=02%7C01%7C%7Cf8a6291821d34ec299fb08d64ddd0e83%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636782009155203954&amp;sdata=kErFvPhawMAQRmklPdpGBTXIPXSac2PzbEHn7XgMX1A%3D&amp;reserved=0"
                target="_blank">William Sonoma</a>
            <div class="store-img">
                <img src="assets/img/williamsanomalogo.png" alt="william sonoma registry">
            </div>
        </div>
    </div>

</div>