#rsvp {
    z-index: 10;
    color: #fff;
}

#title {
    font-family: 'Dawning of a New Day', cursive;
}

.section-header {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 4em;
}

#my-nav {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    z-index: 10000000;
}

#my-nav a {
    margin: 0 10px;
    background-color: white;
}

.form-submit {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button {
    margin-top: 20px;
}

.copyright {
    text-align: center;
}

#email-message {
    color: #EF6480;
}

#success-message {
    color: #EF6480;
    font-size: 16px;
}

#table-header {
    text-align: center;
    margin: 25px auto;
}

.table-wrapper {
    width: 75%;
    margin: 10px auto;
}

hr {
    width: 75%;
    margin: 10px auto;

}
#map {
    height: 600px;
    width: 75%;
    margin: 20px auto;
}

.notes {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.registry {
    width: 100%;
    text-align: center;
}

.stores {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.store {
    margin-top: 20px;
    display: inline-block;
    width: 33%;
}

.store-img {
    margin-top: 50px;
    width: 100%;
}

.store-img img {
    width: 75%;
    margin: 0 auto;
}

.comment-section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
}

.comment-submit, .comments {
    flex: 1;
}


@media all and (max-width: 750px){
    .form-submit {
        width: 75%;
    }
}

#success-comment-message {
    color: #EF6480;
}

.comments {
    position: relative;
}

.comment-messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin: 0 auto;
    height: 100%;
    border: 1px solid #EF6480;
    box-shadow: 1px 1px 2px #EF6480;
}

.comment-messages {
    overflow-y: scroll;
}

.comment-list p {
    margin-top: 0;
    margin-bottom: 0;
}

.comment-list-name {
    color: #EF6480;
}

.comment-list-comment {
    margin-left: 5px;
}

.comment-list hr {
    margin: 0;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100vh;
}

.menu h2 {
    color: #EF6480;
}
.menu-content {
    text-align: center;
    width: 65%; 
    margin: 0 auto;
}

.menu-image {
    width: 70%;
    margin: 0 auto;
}
@media all and (max-width: 800px){
    .stores{
        display: block;
    }
    .store {
        width: 80%;
    }
    .store-img {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .store-img img {
        width: 25%;
    }
}